:root {
    --text-input-field: #F7F7F7;
    --button-background: #ACD9B2;
    --text-support: #797979;
    --labels-product:#C7C7C7;
    --page-background: #FFFFFF;
    --title : #000000;
    --price-tags: #232830;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 150px auto;
}
.login {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-inline-size: 320px;
    max-inline-size: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__icon {
        inline-size: 150px;
        margin-block-end: 74px;
        block-size: 32px;
        img {
            inline-size: 100%;
        }
    }
    &__title {
        margin-block-end: 4px;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.25rem;
        color: var(--title);
    }
    &__subtitle {
        font-size: 1.4rem;
        margin-block-end: 16px;
        font-weight: 400;
        color: var(--text-support);
    }
    &__form {
        display: grid;
        grid-template-columns:310px;
        place-items: center;
    }
    &__label {
        font-size: 1.4rem;
        margin: 16px 0 4px 20px;
        font-weight: bold;
        color: var(--title);
        justify-self: start;
    }
    &__input {
        inline-size: 90%;
        block-size: 42px;
        padding: 8px;
        border: none;
        border-radius: 10px;
        background-color: var(--text-input-field);
        font-size: 1.6rem;
        color: var(--text-support);
    }
}

.primary-button {
    margin-block-start: 35px;
    inline-size: 90%;
    block-size: 60px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-background);
    color: var(--page-background);
    font-size: 1.8rem;
    font-weight: bold;
}