:root {
  --text-input-field: #F7F7F7;
  --button-background: #ACD9B2;
  --text-support: #797979;
  --labels-product:#C7C7C7;
  --page-background: #FFFFFF;
  --title: #000000;
  --price-tags: #232830;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 2.25rem;
}

.body {
  inline-size: 100%;
  block-size: 100vh;
  display: grid;
  place-items: center;
}

.container {
  inline-size: 300px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}
.container--account {
  grid-template-rows: 70px auto;
  align-items: center;
  justify-items: start;
}
.container__icon {
  inline-size: 150px;
  margin-block-end: 48px;
  justify-self: center;
  display: block;
}
.container__title {
  font-size: 1.8rem;
  margin-block-end: 12px;
  font-weight: bold;
}
.container__title--account {
  align-self: start;
}
.container__subtitle {
  font-size: 1.6rem;
  margin-block-start: 0px;
  margin-block-end: 32px;
  font-weight: 300;
  color: var(--text-support);
}

.form {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}
.form--account {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 260px;
  place-items: center;
}
.form__label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-block-end: 4px;
  color: var(--title);
  justify-self: start;
}
.form__input {
  block-size: 40px;
  padding: 6px;
  margin-block-end: 22px;
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  color: var(--text-support);
}
.form__input--edit {
  background-color: var(--page-background);
}
.form__button {
  inline-size: 100%;
  block-size: 60px;
  background-color: var(--button-background);
  border: none;
  border-radius: 8px;
  color: var(--page-background);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  margin-block-start: 14px;
  margin-block-end: 30px;
}
.form__button--account {
  align-self: end;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  gap: 26px;
  place-content: center;
}

.card-product {
  inline-size: 100%;
}
.card-product__image {
  inline-size: 100%;
  block-size: 140px;
  border-radius: 20px;
  /*para que las imagenes no se distorsionen usamos*/
  object-fit: cover;
}
.card-product__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-product__text-price {
  margin-block-start: 0px;
  margin-block-end: 4px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #404040;
}
.card-product__text-article {
  margin-block-start: 0px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-support);
}
.card-product__figure {
  inline-size: 40px;
  block-size: 40px;
  border-radius: 50%;
}
.card-product__figure--added {
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.75);
}
.card-product__icon {
  inline-size: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.resend {
  font-size: 1.4rem;
  text-align: center;
}
.resend__span {
  font-weight: 500;
  color: var(--text-support);
}
.resend__link {
  text-decoration: none;
  color: var(--button-background);
}

.button {
  inline-size: 100%;
  block-size: 60px;
  background-color: var(--button-background);
  border: none;
  border-radius: 8px;
  color: var(--page-background);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.button--second {
  background-color: var(--page-background);
  border: 1px solid var(--button-background);
  color: var(--button-background);
}

.icons {
  inline-size: 132px;
  block-size: 132px;
  border-radius: 50%;
  margin-block-end: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-input-field);
}
.icons__img--letter {
  inline-size: 80px;
}

/*# sourceMappingURL=main.css.map */
