include _variable.pug

doctype html
html(lang="es")
    include _head.pug
    body
    block main
        .body
            .container
                img.container__icon(src="../assets/logos/logo_yard_sale.svg", alt="logo de platzi yard Sale")
                block registro