-var titles = ["Password","Re-enter password","Email address"]
-var NoProductos = 0;

mixin inputBox(labelWord,typeInput)
    label.form__label(for=""+typeInput) #{labelWord}
    if (typeInput == "email" )
        input.form__input(type="email" name=""+typeInput id=""+typeInput placeholder="jojo@example.com" autocomplete="email" required)
    else if (typeInput == "password")
        input.form__input(type="password" name=""+typeInput id=""+typeInput placeholder="********" autocomplete="password" required)
    else if (typeInput == "username")
        input.form__input(type="text" id="username", name="username" placeholder="Martín Gutiérrez" autocomplete="name" required)
    else
        input.form__input(type="password" name=""+typeInput id=""+typeInput placeholder="********" autocomplete="new-password" required)

mixin productCard(price,article,typeOfCar,urlProductImg)
    section.card-product 
        img.card-product__image(src=""+urlProductImg, alt="imagen de producto")
        footer.card-product__footer
            .card-product__footer-container 
                p.card-product__text-price #{price}
                p.card-product__text-article  #{article}
            if (typeOfCar == "add") 
                figure.card-product__figure
                    img.card-product__icon(src="../assets/icons/bt_add_to_cart.svg", alt="icono de carro de compras para agregar")
            else
                figure.card-product__figure(class="card-product__figure--added")
                    img.card-product__icon(src="../assets/icons/bt_added_to_cart.svg", alt="icono de carro de compras agregado")
