include _variable.pug

doctype html
html(lang="es")
    include _head.pug
    body
        div.login
            div.form-container
                figure.login__icon
                    img(src="../assets/logos/logo_yard_sale.svg", alt="logo de platzi yard Sale")
                block registro