-var titles = ["Password","Re-enter password","Email address"]
mixin inputBox(labelWord,typeInput)
    label.form__label(for=""+typeInput) #{labelWord}
    if (typeInput == "email" )
        input.form__input(type="email" name=""+typeInput id=""+typeInput placeholder="jojo@example.com" autocomplete="email" required)
    else if (typeInput == "password")
        input.form__input(type="password" name=""+typeInput id=""+typeInput placeholder="********" autocomplete="password" required)
    else if (typeInput == "username")
        input.form__input(type="text" id="username", name="username" placeholder="Martín Gutiérrez" autocomplete="name" required)
    else
        input.form__input(type="password" name=""+typeInput id=""+typeInput placeholder="********" autocomplete="new-password" required)

mixin productCard(price,article,typeOfCar,urlProductImg)
    section.product-container 
        img.card__image(src=""+urlProductImg, alt="imagen de producto")
        footer.car__footer 
            p.card__text-price #{price}
            p.card__text-article  #{article}
        figure.card__icon
        if (typeOfCar == "add") 
            img.icon__add(src="../assets/icons/bt_add_to_cart.svg", alt="icono de carro de compras para agregar")
        else
            img.icon__add(src="../assets/icons/bt_added_to_cart.svg", alt="icono de carro de compras agregado")
