include components/_variable.pug

doctype html
html(lang="en")
    include components/_head.pug
    body
        main.main-container 
            .cards-container 
                +productCard("$120.00","Round Shelf","add","../assets/img/bicicleta.webp")
                +productCard("$120.00","Retro refri","added","../assets/img/refrigerador.webp")
                +productCard("$120.00","Round Shelf","add","../assets/img/bicicleta.webp")
                +productCard("$120.00","Retro refri","added","../assets/img/refrigerador.webp")
                +productCard("$120.00","Round Shelf","add","../assets/img/bicicleta.webp")
                +productCard("$120.00","Retro refri","added","../assets/img/refrigerador.webp")
                +productCard("$120.00","Round Shelf","add","../assets/img/bicicleta.webp")
                +productCard("$120.00","Retro refri","added","../assets/img/refrigerador.webp")
                +productCard("$120.00","Round Shelf","add","../assets/img/bicicleta.webp")
                +productCard("$120.00","Retro refri","added","../assets/img/refrigerador.webp")
