include components/_variable.pug

doctype html
html(lang="en")
    head
        include components/_head.pug
    body
        main.main-container 
            .cards-container 
                +productCard("$120.00","Round Shelf","add","")
                +productCard("$120.00","Retro refrigerator","added","")
                +productCard("$120.00","Round Shelf","add","")
                +productCard("$120.00","Retro refrigerator","added","")
                +productCard("$120.00","Round Shelf","add","")
                +productCard("$120.00","Retro refrigerator","added","")