extends components/_plantilla-login.pug
block registro
    form.form(action="")
        +inputBox(titles[2],"email")
        +inputBox(titles[0],"password")
        input.primary-button(type="submit" value="login" class="login-button")
    p.resend 
        a.resend__link(href="") Forgot my password
    button.secondary-button(class="button--signUp") sign up 