doctype html
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title New login 
        link(rel="stylesheet", href="../CSS/main.css")
        //- Font Family
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet")
    body
        header.header 
        main.main
            h2.main__title Create a new password 
            p.main__supporting-text Enter a new password for your account
            form.main__form(action="")
                label.main__label(for="password")
                input.main__input(type="password" name="password" id="password" autocomplete="new-password" required)