extends components/_plantilla-login.pug
block registro
    h2.container__title Create a new password 
    p.container__subtitle Enter a new password for your account
    form.form(action="")
        +inputBox(titles[0],"new-password")
        +inputBox(titles[1],"Re-password")
        input.form__button(type="submit" value="Confirm" class="login-button")
