-var titles = ["Password","Re-enter password"]
mixin inputBox(labelWord,typeInput)
    label.login__label(for=""+typeInput) #{labelWord} 
    input.login__input(type="password" name=""+typeInput id=""+typeInput placeholder="********" autocomplete="new-password" required)

doctype html
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title New login 
        link(rel="stylesheet", href="../CSS/main.css")
        //- Font Family
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet")
    body
        div.login
            figure.login__icon
                img(src="../assets/logos/logo_yard_sale.svg", alt="logo de platzi yard Sale")
            h2.login__title Create a new password 
            p.login__subtitle Enter a new password for your account
            form.login__form(action="")
                +inputBox(titles[0],"password")
                +inputBox(titles[1],"Re-password")
                input.primary-button(type="submit" value="Confirm")