extends components/_plantilla-login.pug
block registro
    h2.login__title Create a new password 
    p.login__subtitle Enter a new password for your account
    form.login__form(action="")
        +inputBox(titles[0],"new-password")
        +inputBox(titles[1],"Re-password")
        input.primary-button(type="submit" value="Confirm" class="login-button")