extends components/_plantilla-login.pug
block registro
    h2.container__title Email has been sent! 
    p.container__subtitle Please check your inbox for instructions on how to reset  the password.
    div.icons
        img.icons__img--letter(src="../assets/icons/email.svg", alt="logo de carta")
    button.primary-button(class="login-button") Login
    p.resend 
        span.resend__span Didn't receive the email? 
        a.resend__link(href="") Resend 
    //- script(src="../prueba.js") 