extends components/_plantilla-login.pug
block registro
    h2.login__title Email has been sent! 
    p.login__subtitle Please check your inbox for instructions on how to reset  the password.
    div.login__icon--letter 
        img(src="../assets/icons/email.svg", alt="logo de carta")
    input.primary-button(type="submit" value="Login" class="login-button")
    span.login__span Didn't receive the email? 
        a(href="") Resend 